[Desktop Entry]
Encoding=UTF-8
Name=Bitswash
Comment=Bitswash bittorrent client
Exec=bitswash
Icon=bitswash_48x48.png
Terminal=false
Type=Application
Categories=Application;Network;
